<div class = "row">
	<div class= "col s12">
		<h3 class = "center-align"> Lista de Cursos </h3>
	</div>
</div>

<div class = "row">
	<% Course.all.each do |course| %>
		<div class= "col s12">
			<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator" src= "<%=course.image %>" width="200" height="200">
			</div>
			<div class="card-content">
			  <span class="card-title activator grey-text text-darken-4"> <%= course.short_name %>: <%= course.name %> <i class="material-icons right">more_vert</i></span>
			  <p><a href="#">Inscribirme al curso</a></p>
			  <p><a href="#">Info</a></p>
			</div>
			<div class="card-reveal">
			  <span class="card-title grey-text text-darken-4"> <%= course.short_name %>: <%= course.name %><i class="material-icons right">close</i></span>
			  <p><%= course.description %> </p>
			</div>
			</div>
		</div>
		<pre class="tab"></pre>

	<% end %>

</div>





